@import 'includes/normalize.scss';
@import 'includes/fontface.scss';
@import 'includes/slick.scss';

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}


body {
	background-color: #000;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	text-decoration: none;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

::-webkit-input-placeholder {
   color: #fff;
}
:-moz-placeholder { 
   color: #fff;  
}
::-moz-placeholder {  
   color: #fff;  
}
:-ms-input-placeholder {  
   color: #fff;  
}

:-placeholder-shown {
	color: #fff;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width:1920px;
	margin:0 auto;
	position:relative;
}
/* header */
.header {
	.slide-item {
		position: relative;
		.branding-hero {
			width: 65%;
			margin: 24px 0 0 39px;
			padding-bottom: 18%;
			.logo {
				width: 375px;
				height: 95px;
				margin-bottom: 143px;
			}
			.cta {
				border-width: 5px;
				border-style: solid;
			}


			&.light-bg {
				color: #000;
				.logo {
					background: url('../../img/logos/jag_black.svg') no-repeat;
					background-size: cover;
				}
				.cta {
					border-color: #000;
					color: #000;
				}

			}

			&.dark-bg {
				color: #fff;
				.logo {
					background: url('../../img/logos/jag_white.svg') no-repeat;
					background-size: cover;
				}
				.cta {
					border-color: #fff;
					color: #fff;
				}

			}

			span {
				font: 35px NeuzeitGro;
				text-transform: uppercase;
			}
			h2 {
				font: 90px NeuzeitGroBold;
				line-height: 83px;
				text-transform: uppercase;
				margin: 29px 0 6px;
			}
			p {
				font: 42px/50px 'EB Garamond';
				margin: 0;
				&:last-of-type {
					margin-top: 15px;
				}
			}
			.cta {
				font: 24px NeuzeitGro;
			    text-transform: uppercase;
			    width: 253px;
			    display: block;
			    text-align: center;
			    padding: 5px 0;
			    margin-top: 39px;
			}
		}

		&.first-slide {
			background: url('../../img/slides/mask.jpg') no-repeat;
			background-size: cover;
		}
		&.second-slide {
			background: url('../../img/slides/train.jpg') no-repeat;
			background-size: cover;
		}
		&.third-slide {
			background: url('../../img/slides/render.jpg') no-repeat;
			background-size: cover;
			.hidden-p {
				color: transparent;
			}
		}
		&.fourth-slide {
			background: url('../../img/slides/pool.jpg') no-repeat;
			background-size: cover;
		}
		&.fifth-slide {
			background: url('../../img/slides/stretch.jpg') no-repeat;
			background-size: cover;
		}
	}

	.slick-dots {
		position: absolute;
		right: 25px;
		top: 50%;
		margin-top: -92px;
		li {
			margin-bottom: 20px;
			button {
				font-size: 0;
			    line-height: 0;
			    display: block;
			    width: 20px;
			    height: 20px;
			    padding: 5px;
			    cursor: pointer;
			    color: transparent;
			    border: 3px solid #fff;
			    border-radius: 100%;
			    outline: none;
			    background: transparent;
			}
			&.slick-active {
				button {
					background-color: #fff;
				}
			}
		}
	}
}

main {
	color: #fff;
	font: 24px 'NeuzeitGro';
	padding: 17px 40px 0;
	.main-cta {
		width: 100%;
		text-align: center;
		a {
			font: 50px NeuzeitGroBold;
			text-transform: uppercase;
			display: inline-block;
			margin: 0 auto;
			color: #fff;
			&:after {
				display: block;
				content: url('../../img/elements/downarrow.svg');
				margin-top: -9px;
			}
		}
	}
	.content-container {
		display: flex;
		padding-top: 65px;
		margin-bottom: 125px;
		& > div {
			flex-direction: row;
			flex-grow: 1;
		}
	}
	.copy {
		padding-right: 215px; 
		width: 45%;
		.features {
			padding: 0;
			li {
				margin-bottom: 5px;
			}
		}

		em {
			font: 24px 'NeuzeitGroBold';
			text-transform: uppercase;
		}

	}
	.form-area {
		width: 55%;
		padding-left: 40px;
		li {
			border-bottom: 3px solid #fff;
			padding: 36px 0 10px;
			&:first-of-type {
				p {
					display: none;
				}
			}
			&:last-of-type {
				border-bottom: 0;
				p {
					display: none;
				}
				br {
					display: none;
				}
			}
			&.hidden-field {
				display: none;
			}

			&.select-item {
				display: table;
				width: 100%;

				label {
					display: table-cell;
					width: 300px;
				}
			}
		}
		form {
			padding: 0 8px 0 0;
			margin: 0;

			input, fieldset {
				background-color: transparent;
				color: #fff;
				border: 0;
			}

			fieldset {
				display: inline-block;
				padding: 0 12px 0 0;
				float: right;
				label {
					&:first-of-type {
						margin-right: 106px;
					}
				}
			}


			input[type="radio"] {
				-webkit-appearance: none;
				width: 20px;
			    height: 20px;
			    border: 3px solid #fff;
			    border-radius: 100%;
			    margin-right: 19px;
			    display: inline-block;
    			vertical-align: middle;
			    &:checked {
			    	background-color: #fff;
			    }
			}
			input[type="submit"] {
				-webkit-appearance: none;
    			-moz-appearance: none;
				text-transform: uppercase;
				width: 225px;
				border: 3px solid #fff;
				padding: 5px 0;
			}
			select, select option {
				-webkit-appearance: none;
    			-moz-appearance: none;
    			outline: none;
				background: transparent;
				background: url('../../img/elements/formtriangle.svg') 99% 95% no-repeat;
				display: table-cell;
				width: 100%;
				border: 0;
				color: #fff;
				
			}


		}
		.form-branding {
			float: right;
			img {
				width: 175px;
				vertical-align: top;
				&:last-of-type {
					margin-left: 23px;
				}

			}
		}
	}

	.map-container {
		margin-left: -40px;
		margin-right: -40px;
	}

	#map {
		width: 100%;
		height: 625px;
	}
}



/* footer */
.footer {
	display: none;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/



/*------------------------------------*\
    IMAGES
\*------------------------------------*/






/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width:1543px) {
	main {
		.form-area {
			.form-branding {
				img {
					vertical-align: bottom;
				}
			}
		}
	}
}
@media only screen and (max-width:1350px) {

	main .form-area form fieldset {
		float: none;
		margin-top: 5px;
	}

	main .form-area .form-branding {
		float: none;
		margin-top: 20px;
	}
}
@media only screen and (max-width:1280px) {

}

@media only screen and (max-width:1024px) {

}


@media only screen and (max-width:768px) {
	.header {
		.slide-item {
			.branding-hero {
				margin: 38px 0 0 44px;
				width: 100%;
				.logo {
					width: 187px;
    				height: 48px;
    				margin-bottom: 215px;
				}
				span {
					font-size: 25px;
				}
				h2 {
					font-size: 60px;
					line-height: 52px;
					margin: 10px 0 19px;
				}
				p {
					font-size: 28px;
					line-height: 36px;
					&:last-of-type {
						margin-top: 0;
					}
				}
				.cta {
					border-width: 3px;
				}
			}

			&.first-slide {
				background: url('../../img/slides/mask_rev.jpg') no-repeat;
				background-size: cover;
			}

			&.second-slide {
				 background-position-x: 45%;
			}
			&.third-slide {
				 br {
				 	display: block;
				 }
			}
			&.fourth-slide {
				background-position-x: 40%;
			}
		}

		.slick-dots {
			right: 50px;
			top: 55%;
			li {
				button {
					border-width: 2px;
				}
			}
		}
	}
	main {
		padding: 50px 50px 0;
		.main-cta {
			text-align: left;
			a {
				font-size: 35px;
				&:after {
					display: none;
				}
			}
		}
		.content-container {
			flex-direction: column;
			padding-top: 0;
			margin-bottom: 80px;
		}
		.copy, .form-area {
			padding: 0;
			width: 100%;
		}

		.form-area {
			order: 1;
			font-size: 24px;
			form {
				padding: 0;
				ul {
					margin: 0;
					padding: 0;
				}

				fieldset {

				}

				input[type="submit"] {
					width: 255px;
				}
			}
			.form-branding {
				display: none;
			}
		}
		.copy {
			font-size: 20px;
			width: 50%;
			order: 2;
			margin-top: 39px;
			.features {
				margin-bottom: 53px;
			}
			p {
				margin-bottom: 0;
			}
		}

		#map {
			height: 539px;
		}
	}

	

	.footer {
		display: block;
		padding: 30px 50px 50px;
		img {
			width: 130px;
			&:first-of-type {
				margin-right: 30px;
			}
		}
		span {
			display: block;
			font: 18px 'NeuzeitGro';
			color: #fff;
		}
	}
}

@media only screen and (max-width:735px) {

	.header {
		.slide-item {
			.branding-hero {
				margin: 17px 0 0 20px;
				padding-bottom: 5%;
				.logo {
					height: 24px;
					width: 95px;
					margin-bottom: 33px;
				}
				h2 {
					font-size: 50px;
					line-height: 39px;
   					 margin: 18px 0 19px;		
				}
				p {
					font-size: 24px;
					line-height: 31px;
				}
				.cta {
					display: none;
				}
			}


			&.second-slide {
				
			}
			&.third-slide {

			}
			&.fourth-slide {
				
			}
		}

		.slick-dots {
			right: 18px;
    		top: 56%;
			li {
				button {
					width: 1px;
					height: 1px;
					margin-bottom: 10px;
				}
			}
		}

	}
	main {
		padding: 18px 25px 0;
		.main-cta {
			text-align: left;
			a {
				font-size: 35px;
				&:after {
					display: none;
				}
			}
		}
		.content-container {
			flex-direction: column;
			padding-top: 0;
			margin-bottom: 80px;
		}
		.copy, .form-area {
			
		}

		.form-area {
			order: 1;
			font-size: 16px;
			li {
				padding: 31px 0 3px;
				&:first-of-type {
					padding-top: 25px
				}
			}
			form {
				fieldset {
					float: none;
					margin-top: 5px;
					label:first-of-type {
						margin-right: 18px;
					}
				}
				input[type="radio"] {
					width: 10px;
    				height: 10px;
    				border-width: 2px;
    				margin-right: 9px;
				}
				    

				input[type="submit"] {
					width: 170px;
				}

				select {
					position: absolute;
    				right: 26px;
				}
			}
		}
		.copy {
			width: 100%;
			font-size: 18px;
			margin-top: 53px;
			.featues {
				margin-top: 50px;
			}
		}

		#map {
			height: 260px;
		}
	}
	.footer {
		padding: 25px 25px 50px;
	}

}

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}


@media only screen and (min-width:1140px) {

}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#fff;
	color:#000;
	text-shadow:none;
}
::-webkit-selection {
	background:#fff;
	color:#000;
	text-shadow:none;
}
::-moz-selection {
	background:#fff;
	color:#000;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
